<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1024632110499-845fd8h96ip6h9b0p6oqcli219u3ojvg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1024632110499-845fd8h96ip6h9b0p6oqcli219u3ojvg</string>
	<key>API_KEY</key>
	<string>AIzaSyBjCe8W5T7SGmwwN2_F5fI1oUu0Mm3AFUg</string>
	<key>GCM_SENDER_ID</key>
	<string>1024632110499</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.therollingpaper</string>
	<key>PROJECT_ID</key>
	<string>rolling-paper-16649</string>
	<key>STORAGE_BUCKET</key>
	<string>rolling-paper-16649.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1024632110499:ios:3b553e264d11b06a6a2e16</string>
</dict>
</plist>